<div class="header_section">
  <h4>Processing List</h4>
  <!-- <button cButton color="primary" (click)="addNew()">Add</button> -->
</div>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <!-- <c-card-header>Job Boards</c-card-header> -->
      <c-card-body>
        <app-search-form (searchEmit)="applyFilter($event)"></app-search-form>

        <ng-container *ngIf="isLoading; else tableData">
          <div class="skeleton-loader"></div>
        </ng-container>

        <ng-template #tableData>
          <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
            <thead cTableColor="light">
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Date</th>
                <th>Action</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of processingList; index as i">
                <td>
                  <div>{{ item.firstName }}</div>
                </td>
                <td>
                  <div>{{ item.lastName }}</div>
                </td>
                <td>
                  <div>{{ item.defenderEmail }}</div>
                </td>
                <td>
                  <div>{{ item.updatedOn | date }}</div>
                </td>
                <td>
                  <select name="" id="" (change)="getChange($event, item)">
                    <option value="" selected >select</option>
                    <option value="2">Accept</option>
                    <option value="3">Reject</option>
                  </select>
                </td>
                <td>
                  <div style="display: flex;">
                    <span class="view-button" (click)="parseDataAndNavigate(processingList[i], 'processing')">View</span>
                    <span style="margin-left: 10px;" class="" (click)="deleteItem(item._id)"><img width="20px"
                        src="../../../../assets/images/trash.svg" alt=""></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
        <app-paginator [totalRecords]="totalRecords" (pageChangeEventEmit)="pageChangeEvent($event)"></app-paginator>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>