<div class="header_section">
  <h4>Websites</h4>
  <button cButton color="primary" (click)="addNew()">Add</button>
</div>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <!-- <c-card-header>Websites</c-card-header> -->
      <c-card-body>

        <ng-container *ngIf="isLoading; else tableData">
          <div class="skeleton-loader"></div>
        </ng-container>

        <ng-template #tableData>

          <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
            <thead cTableColor="light">
              <tr>
                <!-- <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th> -->
                <th>Name</th>
                <th style="width: 100px;">Website</th>
                <!-- <th>Email</th> -->
                <!-- <th>App Sectoin</th> -->
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of websitesList; index as i">
                <td>
                  <div>{{ item.locationName }}</div>
                </td>
                <td style="width: 100px;">
                  <div><a [href]="item.website[0]" target="_blank">{{ item.website[0] }}</a></div>
                </td>
                <!-- <td>
                  <div>{{ item.email }}</div>
                </td> -->
                <!--  <td>
                  <div>{{ item.appSection }}</div>
                </td> -->
                <!-- <td class="text-center">
                <svg cIcon name="cibCc{{ item.payment }}" size="xl"></svg>
              </td> -->
                <td>
                  <div style="display: flex;">
                    <span class="view-button" (click)="parseDataAndNavigate(websitesList[i], 'website')">View</span>
                    <span class="edit-icon" (click)="editItem(item)"><img width="20px"
                      src="../../../../assets/images/edit.svg" alt=""></span>
                    <span style="margin-left: 10px;" class="cur_pointer" (click)="deleteItem(item._id)"><img width="20px"
                        src="../../../../assets/images/trash.svg" alt=""></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
        <app-paginator [totalRecords]="totalRecords" (pageChangeEventEmit)="pageChangeEvent($event)"></app-paginator>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>