<div class="main_container">
    <div class="header_section">
        <h4>{{editMode ? 'Edit' : 'Add'}} New Franchises</h4>
        <button cButton color="primary" (click)="goBack()">Back</button>

    </div>

</div>

<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <!-- <c-card-header>Business Opportunities</c-card-header> -->
            <c-card-body>
                <form cForm [formGroup]="form">
                    <div class="flex">
                        <div class="mb-3 w-half">
                            <label cLabel for="franchiseName">Name</label>
                            <input [ngClass]="{'invalid_field': checkValidation('franchiseName')}" cFormControl id="locatonName"
                                formControlName="franchiseName" placeholder="Franchise Name" type="text" />
                            <label class="error_msg" *ngIf="checkValidation('franchiseName')">This
                                field is required</label>
                        </div>
                        <div class="mb-3 w-half">
                            <label cLabel for="website">Website</label>
                            <input cFormControl id="website" formControlName="website" placeholder="website"
                                type="text" />
                        </div>

                    </div>

                    <div class="container">
                        <div class="file-upload-wrapper w-half" [attr.data-text]="fileName ? fileName : 'Upload File!'"
                            [ngClass]="{'invalid_field': checkValidation('franchiseImage')}">
                            <input name="file-upload-field" accept=".png" (change)="onFileChange($event)" type="file"
                                class="file-upload-field" value="">
                        </div>
                        <label class="error_msg" *ngIf="checkValidation('franchiseImage')">This
                            field is required</label>
                        <button cButton color="primary" (click)="onSubmit()">{{editMode? "Update" : "Submit" }}</button>
                    </div>
                    <div>
                    </div>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>