<div class="header_section">
  <h4>Others</h4>
  <button cButton color="primary" (click)="addNew()">Add</button>
</div>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <!-- <c-card-header>Job Boards</c-card-header> -->
      <c-card-body>

        <ng-container *ngIf="isLoading; else tableData">
          <div class="skeleton-loader"></div>
        </ng-container>

        <ng-template #tableData>
          <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
            <thead cTableColor="light">
              <tr>
                <!-- <th class="text-center">
                    <svg cIcon name="cilPeople"></svg>
                  </th> -->
                <th>Name</th>
                <th>Website</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of othersList; index as i">
                <td>
                  <div>{{ item.corpName }}</div>
                </td>
                <td>
                  <div><a [href]="item.website">{{ item.website }}</a></div>
                </td>
                <td>
                  <div style="display: flex;">
                    <span class="view-button" (click)="parseDataAndNavigate(othersList[i], 'others')">View</span>
                    <span class="edit-icon" (click)="editItem(item)"><img width="20px"
                      src="../../../../assets/images/edit.svg" alt=""></span>
                    <span class="delete-icon" (click)="deleteItem(item._id)"><img width="20px"
                        src="../../../../assets/images/trash.svg" alt=""></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
        <app-paginator [totalRecords]="totalRecords" (pageChangeEventEmit)="pageChangeEvent($event)"></app-paginator>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>