<div class="main_container">
    <div class="header_section">
        <h4>Add New Categories</h4>
        <button cButton color="primary" (click)="goBack()">Back</button>
    </div>

</div>

<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <!-- <c-card-header>Business Opportunities</c-card-header> -->
            <c-card-body>
                <form cForm [formGroup]="form">
                    <div class="flex">
                        <div class="mb-3 w-half">
                            <label cLabel for="categoryName">Name</label>
                            <input [ngClass]="{'invalid_field': checkValidation('categoryName')}" cFormControl
                                id="categoryName" formControlName="categoryName" placeholder="Name"
                                type="text" />
                            <label class="error_msg" *ngIf="checkValidation('categoryName')">This
                                field is required</label>
                        </div>
                        <div class="mb-3 w-half">
                            <label cLabel for="website">Website</label>
                            <input cFormControl id="website" formControlName="website" placeholder="website"
                                type="text" />
                        </div>

                    </div>

                    <div class="container">
                        <div class="file-upload-wrapper w-half"  [attr.data-text]="fileName ? fileName : 'Upload File!'" [ngClass]="{'invalid_field': checkValidation('categoryIcon')}">
                            <input name="file-upload-field" accept=".png" (change)="onFileChange($event)" type="file"
                                class="file-upload-field" value="">
                        </div>
                        <label class="error_msg" *ngIf="checkValidation('categoryIcon')">This
                            field is required</label>
                        <button style="display: block;" cButton color="primary" (click)="onSubmit()">{{loading ? 'Update':  'Submit'}}</button>
                    </div>
                    <div>
                    </div>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>