<!--sidebar-->
<c-sidebar
  #sidebar="cSidebar"
  class="d-print-none sidebar sidebar-fixed"
  id="sidebar"
  visible
>
  <c-sidebar-brand
    [brandFull]="{
      src: 'assets/img/new-dg-logo.png',
      width: 200,
      height: 50,
      alt: 'CoreUI Logo'
    }"
    [brandNarrow]="{
      src: 'assets/img/new-dg-logo.png',
      width: 50,
      height: 46,
      alt: 'CoreUI Logo'
    }"
    routerLink="./"
  />

  <ng-scrollbar pointerEventsMethod="scrollbar">
    <c-sidebar-nav
      [navItems]="navItems"
      dropdownMode="none"
    />
  </ng-scrollbar>
  <c-sidebar-toggler
    *ngIf="!sidebar.narrow"
    toggle="unfoldable"
    cSidebarToggle="sidebar"
  />
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <!--app-header-->
  <app-partner-header class="mb-4 d-print-none header header-sticky" position="sticky" sidebarId="sidebar" />
  <!--app-body-->
  <div class="body flex-grow-1 px-3">
    <c-container breakpoint="lg" class="h-auto">
        <!-- <app-partner-property-edit-form *ngIf="showPropertyPage"></app-partner-property-edit-form>
        <app-partner-add-job-opportunity *ngIf="!showPropertyPage"></app-partner-add-job-opportunity> -->
        <!-- <app-partner-table-list></app-partner-table-list> -->
        <router-outlet></router-outlet>
        <!-- <c-toast #toast="cToast" [autohide]="false" [visible]="true" position="absolute" class="align-items-center">
            <div class="d-flex">
              <c-toast-body>
                <span>Hello, world! This is a toast message.</span>
              </c-toast-body>
              <button aria-label="close" cButtonClose class="me-2 m-auto" (click)="toast.visible=false"></button>
            </div>
          </c-toast> -->
    </c-container>
  </div>
  <!--app footer-->
  <app-partner-footer/>
</div>

<div class="overlay">
  <c-alert *ngIf="showAlertMessage" [dismissible]="true" fade [color]="alertMessage.type">{{alertMessage.message}}</c-alert>
</div>

<div class="spinnerContainer" *ngIf="showLoader">
  <c-spinner color="primary"></c-spinner>
</div>
