.main_modal_container{
  padding: 10px 15px;
  .header{
      display: flex;
      justify-content: space-between;

      .name, .close{
          font-size: 17px;
          font-weight: 500;
      }

      .close{
          p{
              color: #b1b1b1;
              cursor: pointer;
          }
      }
  }
}

img {
  width: 100%;
}