<div class="header_section">
  <h4>Apps</h4>
  <button cButton color="primary" (click)="addNew()">Add</button>
</div>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <!-- <c-card-header>Apps</c-card-header> -->
      <c-card-body>

        <ng-container *ngIf="isLoading; else tableData">
          <div class="skeleton-loader"></div>
        </ng-container>

        <ng-template #tableData>
          <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
            <thead cTableColor="light">
              <tr>
                <!-- <th class="text-center">
                  <svg cIcon name="cilPeople"></svg>
                </th> -->
                <th>Name</th>
                <!-- <th>App Section</th> -->
                <th>Android URL</th>
                <th>Apple URL</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of appsList; index as i">
                <td>
                  <div>{{ user.corpName }}</div>
                </td>
                <!-- <td>
                  <div>{{ user.appSection }}</div>
                </td> -->
                <td>
                  <div><a [href]="user.androidURL" target="_blank">{{ user.androidURL }}</a></div>
                </td>
                <td>
                  <div><a [href]="user.appleURL"  target="_blank">{{ user.appleURL }}</a></div>
                </td>


                <!-- <td class="text-center">
                  <svg cIcon name="cibCc{{ user.payment }}" size="xl"></svg>
                </td> -->
                <td>
                  <!-- <div><svg cIcon name="cil-eye"></svg></div> -->
                  <div class="view-button" (click)="goToViewPage(i)">View</div>
                  <!-- <i class="cil-eye"></i> -->
                  <!-- <div class="fw-semibold text-nowrap">{{ user.chatPhoto }}</div> -->
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
        <app-custom-pagination [currentPage]="offset+1" (nextClickEvent)="nextClickEvent($event)" (previousClickEvent)="previousClickEvent($event)"></app-custom-pagination>



      </c-card-body>
    </c-card>
  </c-col>
</c-row>
