<div class="main_container">
    <div>
        <h4>{{editMode ? 'Edit' : 'Add New'}} {{'mobile app' | titlecase}}</h4>
    </div>
    <div style="display: flex;">
        <button cButton color="primary" (click)="goBack()">Back</button>
    </div>

</div>

<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <c-card-body>
                <form cForm [formGroup]="form">
                    <div class="flex">
                        <div class="mb-3 w-half">
                            <label cLabel for="locatonName">App Name</label>
                            <input [ngClass]="{'invalid_field': checkValidation('locationName')}" cFormControl
                                id="locatonName" formControlName="locationName" placeholder="Organization Name"
                                type="text" />
                            <label class="error_msg" *ngIf="checkValidation('locationName')">This
                                field is required</label>
                        </div>

                    </div>

                    <div class="flex">
                        <div class="mb-3 w-half">
                            <label cLabel for="appleURL">Apple URL</label>
                            <input cFormControl id="appleURL" formControlName="appleURL" placeholder="Apple URL"
                                type="text" />
                        </div>

                        <div class="mb-3 w-half">
                            <label cLabel for="appleIcon">Apple Icon</label>
                            <app-file-upload class="fileHandler" [addClass]="'w-100'" [fileName]="appleIcon"
                                (onFileChangeEvent)="onFileChangeAppleIcon($event)"></app-file-upload>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="mb-3 w-half">
                            <label cLabel for="androidURL">Android URL</label>
                            <input cFormControl id="androidURL" formControlName="androidURL" placeholder="Android URL"
                                type="text" />
                        </div>
                        <div class="mb-3 w-half">
                            <label cLabel for="androidIcon">Android Icon</label>
                            <app-file-upload class="fileHandler" [addClass]="'w-100'" [fileName]="androidIcon"
                                (onFileChangeEvent)="onFileChangeAndroidIcon($event)"></app-file-upload>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="mb-3 w-half">
                            <label cLabel for="city">City</label>
                            <input cFormControl id="city" formControlName="city" placeholder="City" type="text" />
                        </div>
                        <div class="mb-3 w-half">
                            <label cLabel for="state">State</label>
                            <input cFormControl id="state" formControlName="state" placeholder="State" maxlength="2"
                                type="text" />
                        </div>
                        <div class="mb-3 w-half">
                            <label cLabel for="zip">Zip</label>
                            <input cFormControl id="zip" formControlName="zip" placeholder="Zip" maxlength="5"
                                type="text" />
                        </div>
                        <div class="mb-3 w-half">
                            <label cLabel for="country">Country</label>
                            <select formControlName="country" name="" id="appSection">
                                <option value="us">US</option>
                                <option value="canada">Canada</option>
                            </select>
                        </div>
                        <div class="mb-3 w-half">
                            <label cLabel for="county">County</label>
                            <input cFormControl id="county" formControlName="county" placeholder="County" type="text" />
                        </div>
                    </div>

                    <div class="flex">
                        <div class="mb-3 w-half">
                            <label cLabel for="phone">Phone</label>
                            <input cFormControl id="phone" formControlName="phone" placeholder="Phone" type="text" />
                        </div>

                        <div class="mb-3 w-half">
                            <label cLabel for="website">Web Site</label>
                            <input cFormControl id="website" formControlName="website" placeholder="Web Site"
                                type="text" />
                        </div>
                        <div class="mb-3 w-half">
                            <label cLabel for="localContact">Local Contact</label>
                            <input cFormControl id="localContact" formControlName="localContact"
                                placeholder="Local Contact" type="text" />
                        </div>
                    </div>

                    <div class="flex">

                        <div class="mb-3 w-half">
                            <label cLabel for="discount">Discount</label>
                            <input cFormControl id="discount" formControlName="discount" placeholder="Discount"
                                type="text" />
                        </div>

                        <div class="mb-3 w-half">
                            <label cLabel for="primeryCategory">Primary Category</label>
                            <ng-select placeholder="select" (scrollToEnd)="onScrollToEnd(true)"
                                formControlName="primaryCategory" (ngModelChange)="selectPrimaryCategory($event)">
                                <ng-option *ngFor="let item of allPrimaryCategories"
                                    [value]="item._id">{{item.categoryName}}</ng-option>
                            </ng-select>
                        </div>
                        <div class="mb-3 w-half">
                            <label cLabel for="secondaryCategory">Secondary Category</label>
                            <select name="" id="secondaryCategory" formControlName="secondaryCategory">
                                <option value="" selected disabled>select</option>
                                <option *ngFor="let item of secondaryCategories" [value]="item._id">{{item.category}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label cLabel for="description">Description</label>
                        <textarea cFormControl id="description" formControlName="description" rows="3"></textarea>
                    </div>

                    <div>
                        <button cButton color="primary" (click)="onSubmit()">Submit</button>
                    </div>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>