th {
    width: 400px;
    border-right: 1px solid #e1e1e1;
}

.header_section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.view_image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    cursor: pointer;
}