<div class="header_section">
  <h4>Cagtegories</h4>
  <button cButton color="primary" (click)="addNew()">Add</button>
</div>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <!-- <c-card-header>Ctegories</c-card-header> -->
      <c-card-body>

        <ng-container *ngIf="isLoading; else tableData">
          <div class="skeleton-loader"></div>
        </ng-container>

        <ng-template #tableData>
          <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
            <thead cTableColor="light">
              <tr>
                <!-- <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th> -->
                <th>Name</th>
                <th>App Section</th>
                <th>Category Type</th>
                <th>Sub Category</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of categories; index as i">
             
                <td>
                  <div>{{ item.categoryName }}</div>
                </td>
                <td>
                  <div>{{ item.appSection }}</div>
                </td>
                <td>
                  <div>{{ item.categoryType }}</div>
                </td>
                <td>
                  <div *ngIf="item.subCategories.length > 0" ><a (click)="showAll(i)" class="expand">Show {{!isExpanded ? 'all' : 'less'}}</a></div>
                  <div *ngIf="item.subCategories.length > 0 && isExpanded && index ===  i" >
                    <ul *ngFor="let sub of item.subCategories">
                      <li>{{sub.category}}</li>
                    </ul>
                  </div>
                </td>
               
                <!-- <td class="text-center">
                <svg cIcon name="cibCc{{ item.payment }}" size="xl"></svg>
              </td> -->
                <td>
                  <div >
                    <span class="view-button" (click)="goToViewPage(i)">View</span>
                    <span style="margin-left: 10px;" class="view-button"(click)="deleteItem(item._id)">Delete</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>

        <app-custom-pagination [currentPage]="offset+1" (nextClickEvent)="nextClickEvent($event)" (previousClickEvent)="previousClickEvent($event)"></app-custom-pagination>
      
      </c-card-body>
    </c-card>
  </c-col>
</c-row>