<app-add-new-partner *ngIf="propertyType === 'partner' "></app-add-new-partner>
<app-add-new-franchises *ngIf="propertyType === 'franchises'"></app-add-new-franchises>
<app-add-new-app *ngIf="propertyType === 'app'"></app-add-new-app>
<app-add-new-website *ngIf="propertyType === 'website'"></app-add-new-website>
<app-add-job-boadrs *ngIf="propertyType === 'job-board'"></app-add-job-boadrs>
<app-add-new-properties *ngIf="propertyType === 'properties'"></app-add-new-properties>
<app-add-new-category *ngIf="propertyType === 'category'"></app-add-new-category>
<app-add-group-codes *ngIf="propertyType === 'group-code'"></app-add-group-codes>