.uploadedFile {
    height: 150px;
    width: 150px;
    object-fit: contain;
    background-color: #f4f1f1;
}

.remove_icon {
    cursor: pointer;
    position: relative;
    top: 4px;
    left: -3%;
    color: red;
    width: 20px;
    height: 20px;
}

.imgContainer {
    display: flex;
}